.sm-content {
    position:absolute;
    left: 0px;
    right:0px;
    bottom:0px;
    top:0px;
}

.sm-style-tools {
    position: absolute;
    left:2px;
    top:2px;
    bottom:2px;
    width: 250px;
    overflow:auto;
    padding:5px;
}

.sm-style-tools .tool label {
    display: block;
}

.sm-style-tools .tool input {
    width:200px;
    vertical-align: middle;
}

.sm-style-tools .tool input:before {
    content: attr(min-unit) 'px';
    display: inline-block;
    vertical-align: middle;
    margin-right:10px;
}
.sm-style-tools .tool input:after {
    content: attr(max-unit);
    display: inline-block;
    vertical-align: middle;
    margin-left:10px;
}

.sm-story {
    position: absolute;
    left:300px;
    top:50px;
    bottom:50px;
    right: 50px;
    overflow:auto;
}

.sm-story textarea {
    width:100%;
    height:100%;
    box-sizing: border-box;
    display:inline-block;
}