.emoji-info-manager {
    position: absolute;
    left:0px;
    top:0px;
    right: 0px;
    bottom:0px;
    overflow: auto;
}

.emoji-info-code {
    display:flex;
    margin-bottom: 10px auto;
}

.emoji-info-code .unicode {
    text-align: center;
    flex:1;
    cursor:pointer;
}

.emoji-info-code .unicode:before {
    color: red; 
    display: block;
    padding:5px;
}

.emoji-info-code .unicode-dec:before {
    content: " DEC";
}

.emoji-info-code .unicode-16:before {
    content: " HEX";
}

.emoji-info-code .unicode-string:before {
    content : "UNICODE"
}

.emoji-info-code .unicode-entity:before {
    content : "ENTITY"
}

.emoji-info-code .unicode-entity-16:before {
    content : "HEX"
}

.emoji-info-code .unicode-char:before {
    content : "CHAR"
}


.emoji-info-view {
    text-align: center;
    vertical-align: middle;
}

.emoji-info-view .char-view {
    position:relative;
    display: inline-block;
    font-size: 125px;   
    margin-top:30px;     
    margin-bottom: 30px;
}

.emoji-info-view .char-info {
    position:relative;
    display: block;
    width: 300px;
    margin:0 auto;
}

.emoji-info-view .char-info .desc-item {
    display:flex;
    width:100%;
    margin-bottom:10px;
}

.emoji-info-view .char-info .desc-item .cate {
    flex: 1;
    display:block;
    text-align:right;
    text-transform: capitalize;
    vertical-align: middle;    
}

.emoji-info-view .char-info .desc-item .description {
    flex: 1;
    display:block;   
    text-align: left;
    padding-left: 20px; 
    vertical-align: middle;
}

.emoji-info-view .char-info .desc-item .description .label {
    margin-right: 2px;
}

.emoji-info-select-text {

}