
.app-menu {
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  height:40px;
  box-sizing:border-box;
  transition: all 0.3s linear;  
  display:flex;
  z-index:1000;
  background-color:#ececec;  
  user-select: none;
}

.app-menu > .left {
  text-align:left;
  flex:5;
  position:relative;
}



.app-menu .search-icon {
  position:absolute;
  display: block;
  padding:8px;
  text-align: center;
  box-sizing:border-box;
  height:100%;
  left:0px;
  top:0px;
  z-index: 1;
  cursor: pointer;
}

.app-menu .search-input {
  padding:5px;
  padding-left: 20px;
  box-sizing:border-box;
  position:relative;
  overflow:hidden;
  vertical-align: middle;
  height: 100%;
}

.app-menu .search-input input[type=search] {
  border:0px;
  width:100%;
  height:30px;
  padding-left:20px;
  display: block;
  box-sizing:border-box;
  outline: none;
  background-color: transparent;
  user-select: auto;
}

.app-menu > .right {
  flex:1;
  display:flex;
  text-align:right;
  padding:10px;
}

.app-menu > .right > * {
  flex:1;
  cursor:pointer;
}

.app-content {
  position: absolute;
  left:0px;
  top:40px;
  right:0px;
  bottom:40px;
  overflow: auto;
  box-sizing: border-box;
  transition: all 0.1s linear;
  z-index:0;
}

.app-search-filter {
  position:absolute;
  display:inline-block;
  top:40px;
  left: -400px;
  width:200px;
  bottom:40px;
  overflow: auto;
  box-sizing: border-box;
  transition: all 0.1s linear;
  z-index:50;  
  background-color:rgba(255, 255, 255, 0.98);
  border-right:1px solid #ececec;
  user-select: none;
}

.app-search-filter .search-header {
  padding:10px;
  display:block;
}

.app-search-filter .search-item {
  padding-left: 10px;
}

.app-search-filter .search-item label {
  display:block;
}

.app-search-filter .search-item label.inline {
  display:inline-block;
}

.app-search-filter.open {
  left:0px;
}

.app-toolbar {
  position: absolute;
  left:0px;
  height:40px;
  right:0px;
  bottom:0px;
  display:flex;
  z-index:100;  
  background-color: #ececec;
}

.app-toolbar .tools > span {
  display: inline-block;
  box-sizing: border-box;
  cursor:pointer;
}

.app-toolbar .tools {
  flex:3; 
  padding:10px;
  padding-left:0px;
  padding-right:0px;
}

.app-toolbar .tools .pangram-text {
  border:0px;
  outline:none;
  background-color: transparent;
  width:100%;

}

.app-toolbar .tools.left {
  padding-left:4px;
  padding-top:10px;
}

.app-toolbar .tools.center {
  flex:3;
  text-align:right;
  padding-left:0px;
  padding-right:0px;
}

.app-toolbar .tools.center > * {
  vertical-align: middle;
  margin-right:2px;
}
.app-toolbar .tools.center > .small {
  font-size:12px;
}

.app-toolbar .tools.center > .big {
  font-size:17px;
}

.app-toolbar .tools.right {
  flex:2;
  text-align:right;
  padding:2px;
}

.app-toolbar .tools .logo {
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.app-toolbar .radio-box {
  flex:1;
  padding:2px 4px;
  user-select: none;
}

.app-toolbar .radio-box > span {
  display: inline-block;
  height:100%;
  padding:5px ;
  box-sizing: border-box;
  border-radius: 5px;
  cursor:pointer;
}

.app-toolbar .radio-box > span.active {
  color: rgba(116, 12, 210, 0.7);
}
