
.font-manager {

}

.app-menu {
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  height:40px;
  border-bottom: 1px solid #ececec;
  box-sizing:border-box;
  transition: all 0.3s linear;  
}

.app-sidebar {
  position: absolute;
  left:-180px;
  top:40px;
  bottom:0px;
  width:180px;
  background-color: white;
  transition: all 0.3s linear;  
  z-index:1000;
  box-sizing: border-box;
  border-right: 1px solid #ececec;
}

.app-content {
  position: absolute;
  left:10px;
  top:40px;
  right:2px;
  bottom:0px;
  overflow: auto;
  box-sizing: border-box;
  transition: all 0.1s linear;
}

.font-manager.show-directory .app-content
 {
  left: 200px;
}

.font-manager.show-directory .app-sidebar {
  left: 10px;
}