
.app-menu {
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  height:40px;
  border-bottom: 1px solid #ececec;
  box-sizing:border-box;
  transition: all 0.3s linear;  
  display:flex;
}

.app-menu > .left {
  text-align:left;
  flex:5;
  position:relative;
}

.app-menu .search-icon {
  position:absolute;
  display: block;
  padding:10px;
  text-align: center;
  box-sizing:border-box;
  line-height: 1.5;
  width:24px;
  height:100%;
  left:0px;
  top:0px;
  z-index: 1;
  cursor: pointer;
}

.app-menu .search-input {
  padding:5px 15px;
  box-sizing:border-box;
  position:relative;
  overflow:hidden;
  vertical-align: middle;
  height: 100%;
}

.app-menu .search-input input[type=search] {
  border:0px;
  width:100%;
  height:30px;
  padding-left:20px;
  display: block;
  box-sizing:border-box;
  outline: none;
}

.app-menu > .right {
  flex:2;
  display:flex;
  text-align:right;
}

.app-menu .radio-box {
  flex:1;
  padding:2px 4px;
}

.app-menu .radio-box > span {
  display: inline-block;
  height:100%;
  padding:10px;
  box-sizing: border-box;
  cursor:pointer;
}

.app-menu .radio-box > span.active {
  background-color: #ececec;
}

.app-content {
  position: absolute;
  left:0px;
  top:40px;
  right:0px;
  bottom:40px;
  overflow: auto;
  box-sizing: border-box;
  transition: all 0.1s linear;
}

.app-toolbar {
  position: absolute;
  left:0px;
  height:40px;
  right:0px;
  bottom:0px;
  display:flex;
}

.app-toolbar .tools > span {
  display: inline-block;
  height:100%;
  padding:5px;
  box-sizing: border-box;
  cursor:pointer;
}

.app-toolbar .tools {
  flex:1;
  padding:10px;
  background-color:rgba(0, 0, 0, 0.01);
}

.app-toolbar .tools.center {
  text-align:center;
}

.app-toolbar .tools.right {
  text-align:right;
}

.app-toolbar .tools .logo {
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}