.jui .tabs.full {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top: 0px;
}

.jui .tabs.full .tab {
    position:relative;
    height: 34px;
    display:inline-block;
    text-align:center;
    margin-top:5px;
}

.jui .tabs.full .tab li {
    cursor:pointer;
    display:inline-block;
    text-align: center;
}

.jui .tabs.full .tab-container {
    position:absolute;
    top:44px;
    left:0px;
    right:0px;
    bottom:0px;
    box-sizing:border-box;
    border-top:1px solid #ececec;
}

.jui .tabs.full .tab-content {
    position:absolute;
    display:none;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
}

.jui .tabs.full .tab-content.active {
    display:block;
}