.free-font-item .font-info {
    overflow: auto;
    display: flex; 
    padding:10px;
    padding-left:0px;    
    padding-right:60px;
    text-align: center;
    margin-bottom:10px;
    font-size: 13px !important;
}

.free-font-item .font-info .font-sub-family,
.free-font-item .font-info .font-name,
.free-font-item .font-info .tools .icon
{
    pointer-events: none;
}

.free-font-item .tools {
    position: absolute;
    right: 10px;
    top:10px;
    display:inline-block;
    font-size:13px;
    z-index: 100;
    color: #b6b6b6;
    user-select: none;
}

.free-font-item .tools .icon {
    pointer-events: none;
}

.free-font-item .tools .material-icons {
    font-size:18px;
}

.free-font-item .font-info .font-name {
    flex : 10 ; 
    display:none;
    font-weight: bold;
}

.free-font-item .font-info .font-family {
    flex : 10 ; 
    font-weight: bold;
    display: inline-block;
    text-align: left;
    padding-left:10px;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.free-font-item .font-info .font-family .link {
    margin-right: 5px;
    vertical-align: middle;
    display:inline-block;
    color:black;
    text-decoration: none;
}

.free-font-item .font-info .font-family .material-icons {
    font-size: 16px;
    vertical-align: middle;
}

.free-font-item .font-info .font-family .icon-image {
    width: 40px;
    vertical-align: middle;
}

.free-font-item .font-info .font-sub-family {
    display: none;
}


.free-font-item .font-description {
    font-size: 13px;
    color: #877D7D;
    padding:2px;    
    padding-left:0px;
    padding-right:10px;
    height:0px;
    transition:all 0.3s linear; 
    overflow:hidden;
}

.free-font-item .font-description.open {
    height: auto;
}

.free-font-item .font-description .material-icons {
    font-size:13px; 

}
.free-font-item .font-description label {
    font-weight:bold;
    color: black;
}

.free-font-item .font-description a {
    color: black; 
    text-decoration: none;
}

.free-font-item .font-description .desc-item {
    margin-bottom:5px;
}


.free-font-item .font-item-preview {
    pointer-events: none;
    user-select: auto;
    text-align:left;
    font-size: 13px;
    margin-bottom:10px;
    padding-left:0px;
    padding-right:30px;
}

.free-font-item .preview-image {
    padding-left:10px;
    padding-right:30px;
    text-align:left;
}

.free-font-item .preview-image img {
    max-width:100%;
    width:100%;
}

.font-list-content[data-content-style=row] .free-font-item .font-info {
    text-align: left !important;
    margin-bottom:0px;
}

.font-list-content[data-content-style=row] .free-font-item .font-name {
    display: block;
}
.font-list-content[data-content-style=row] .free-font-item .font-sub-family {
    display: inline-block;
    margin-left:10px;
}


.font-list-content[data-content-style=row] .free-font-item .font-item-preview {
    text-align: left !important;
    padding:0px 10px;
    box-sizing:border-box;
    overflow:hidden;
    display:block;
}

.font-list-content[data-content-style=row] .free-font-item .font-item-preview div {
    width:100%;
}
