
.directory-manager {
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  box-sizing:border-box;
}

.directory-manager .directory-title {
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  height:50px;
  padding:14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  box-sizing:border-box;
}

.directory-manager .directory-title .tools {
  display:inline-block;
  vertical-align:middle;
  z-index:10000;
  font-size:13px;
  font-weight: normal;
  cursor:pointer;
}

.directory-manager .tool-item {
  vertical-align: middle;
}

.directory-manager .directory-title .tools .add-directory .material-icons {
  color: green;
}


.directory-manager .directory-list {
  position:absolute;
  left:0px;
  top:52px;
  right:0px;
  bottom:0px;
  overflow: auto;
}

.directory-manager .directory-list .directory-item {
  border-radius:3px;
  padding:5px 10px;
  border-bottom:1px solid rgba(0, 0, 0, 0.01);
  position: relative;
  display:block;
}

.directory-manager .directory-list .directory-item .name {
  display:block;
  margin-right:5px;  
  box-sizing:border-box;
  padding:5px;
  cursor:pointer;  
}

.directory-manager .directory-list .directory-item .directory {
  color:#999;
  display:block;
  box-sizing:border-box;
  padding:5px;  
  cursor:pointer;
}

.directory-manager .directory-list .directory-item .type {
  display:inline-block;
  vertical-align:middle;
  margin-right:5px;
}

.directory-manager .directory-list .directory-item .type .type-icon.user {
  color: green;
}

.directory-manager .directory-list .directory-item .tools {
  display:inline-block;
  vertical-align:middle;
  position:absolute;
  right:10px;
  top:10px;
  z-index:10000;
}

.directory-manager .directory-list .directory-item .tools .tool-item {
  display: inline-block;
  vertical-align:middle;
  cursor:pointer;
}

.directory-manager .directory-list .directory-item .tools .tool-item  .material-icons {
  font-size:20px;
  vertical-align:middle;
  cursor:pointer;
}

.directory-manager .directory-tree .root-node {
  display:block;
  vertical-align: middle;
  padding-left:5px;
  position: relative;
  height:25px;
  padding-top:4px;
  color: rgb(114, 114, 114);
}

.directory-manager .directory-tree .node {
  display:block;
  vertical-align: middle;
  padding-left:20px;
  position: relative;
  height:25px;
  padding-top:4px;
  color: rgb(114, 114, 114);
}

.directory-manager .directory-tree .node:hover {
  background-color: rgb(223, 223, 223);
}

.directory-manager .directory-tree .node[data-level="1"] {
  padding-left:20px;
}

.directory-manager .directory-tree .node[data-level="2"] {
  padding-left:40px;
}

.directory-manager .directory-tree .node[data-level="3"] {
  padding-left:60px;
}

.directory-manager .directory-tree .node[data-level="4"] {
  padding-left:80px;
}

.directory-manager .directory-tree .node .directory-name {
  cursor: pointer;
}

.directory-manager .directory-tree .node .tool-item {
  display: inline-block;
  vertical-align:middle;
  cursor:pointer;
  right:10px;
  position: absolute;
  font-size:12px;
}

.directory-manager .directory-tree .node .tool-item  .material-icons {
  font-size:14px;
  vertical-align:middle;
  cursor:pointer;
}