
.directory-manager {
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  box-sizing:border-box;
}

.directory-manager .directory-title {
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  height:50px;
  padding:14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  box-sizing:border-box;
}

.directory-manager .directory-title .tools {
  display:inline-block;
  vertical-align:middle;
  position:absolute;
  right:10px;
  top:10px;
  z-index:10000;
  font-size:14px;
  font-weight: normal;
  cursor:pointer;
}


.directory-manager .directory-list {
  position:absolute;
  left:0px;
  top:52px;
  right:0px;
  bottom:0px;
  overflow: auto;
}

.directory-manager .directory-list .directory-item {
  border-radius:3px;
  padding:5px 10px;
  border-bottom:1px solid rgba(0, 0, 0, 0.01);
  position: relative;
  display:block;
}

.directory-manager .directory-list .directory-item .name {
  display:block;
  margin-right:5px;  
  box-sizing:border-box;
  padding:5px;
  cursor:pointer;  
}

.directory-manager .directory-list .directory-item .directory {
  color:#999;
  display:block;
  box-sizing:border-box;
  padding:5px;  
  cursor:pointer;
}

.directory-manager .directory-list .directory-item .type {
  display:inline-block;
  vertical-align:middle;
  margin-right:5px;
}

.directory-manager .directory-list .directory-item .type .type-icon.user {
  color: green;
}

.directory-manager .directory-list .directory-item .tools {
  display:inline-block;
  vertical-align:middle;
  position:absolute;
  right:10px;
  top:10px;
  z-index:10000;
}

.directory-manager .directory-list .directory-item .tools .tool-item {
  display: inline-block;
  vertical-align:middle;
  cursor:pointer;
}

.directory-manager .directory-list .directory-item .tools .tool-item  .material-icons {
  font-size:20px;
  vertical-align:middle;
  cursor:pointer;
}