.fm-menubar {
    display:flex;
    padding:5px 10px;
}

.fm-menubar > div {
    flex:1; 
}

.fm-menubar .right {
    text-align: right; 
}

.fm-menubar .select-row-style {
    display:inline-block;
    margin:0px;
    vertical-align: middle;
}


.select-row-style .icon {
    pointer-events: none;
}

.fm-menubar .font-only-view {
    cursor: pointer;
    vertical-align: middle;
}

.fm-menubar .font-only-view .icon {
    pointer-events: none;
}