.emoji-category-list-container {
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
}

.emoji-key-search {
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    height: 40px;
    padding:5px;
}

.app.mini .emoji-key-search {
    display:none;
}

.emoji-key-search input {
    width: 100%;
    height: 100%;
    display:block;
    border-radius:3px;
    border:1px solid #ececec;
    padding-left:10px;
    box-sizing:border-box;
}

.emoji-tree {
    position:absolute;
    left:0px;
    bottom:0px;
    right:0px;
    top: 50px;
    overflow:auto;
    padding:5px;
}

.app.mini .emoji-tree {
    top: 0px;
    overflow:hidden;
}

.emoji-tree .title {
    font-weight: bold;
    width:100%;
    font-size:15px;
    padding:10px 20px;
    box-sizing:border-box;
    display:block;
    margin-bottom:5px;
}

.app.mini .emoji-tree .title {
    display:none;
}

.emoji-tree-node {
    display:block;
    padding:10px 20px;
    border-radius: 3px;
    margin-bottom: 5px;
    cursor:pointer;
    box-sizing:border-box;
    margin-left:10px;
    margin-right:10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);            
}

.app.mini .emoji-tree-node {
    display:inline-block;
    position:relative;
    content:"";
    width:30px;
    height:30px;
    padding:0px;
    margin:0px;
}

.emoji-tree-node:hover {
    background-color: rgba(116, 12, 210, 0.1);
}

.emoji-tree-node.hide {
    display:none;
}

.emoji-tree-node.active {
    background-color: #740CD2;
    color:white;
    font-weight:bold;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
}

.app.mini .emoji-tree-level.tags {
    display:none;
}

.app.mini .emoji-tree-node:before {
    position:absolute;
    width:100%;
    height:100%;
    content: "";
    display:inline-block;
    font-size:15px;
    text-align: center;
    vertical-align: middle;
}

.app.mini .emoji-tree-node.node-0:before {
    content: "😀";
}

.app.mini .emoji-tree-node.node-1:before {
    content: "🐵";
}

.app.mini .emoji-tree-node.node-2:before {
    content: "🍇";
}

.app.mini .emoji-tree-node.node-3:before {
    content: "🌍";
}

.app.mini .emoji-tree-node.node-4:before {
    content: "🎃";
}

.app.mini .emoji-tree-node.node-5:before {
    content: "🔇";
}

.app.mini .emoji-tree-node.node-6:before {
    content: "🏧";
}

.app.mini .emoji-tree-node.node-7:before {
    content: "🏁";
}