.emoji-tree {
    padding: 5px;
}

.emoji-tree-node {
    max-height: 200px;
    overflow:auto;
}

.emoji-tree-node.child {
    emoji-size: 20px;
}

.emoji-tree-node.child li.active {
    background-color: #740CD2;
    color:white !important;
}