.font-tree {
    padding: 5px 10px;
}

.font-tree-item {
    padding: 2px 3px;
}

.font-tree-item.active {
    background-color: #740CD2;
    color:white !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
}


.font-tree-item:hover {
    background-color: rgba(0,0,0,0.19);
}
