.font-tree {
    padding: 5px 10px;
}

.font-tree-node {
    max-height: 200px;
    overflow:auto;
}

.jui .vmenu.flat> .font-tree-node.parent {
    font-size: 15px;
    border:0px !important;
}

.font-tree-node.child {
    font-size: 15px;
}

.font-tree-node.child li.active {
    background-color: #740CD2;
    color:white !important;
}