.font-list-view {
    position: absolute;
    left:0px;
    right:0px;
    
    top:0px;
    bottom: 0px;
}

.font-list-header {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    height:40px;
    box-sizing: border-box;
    padding: 5px 2px;
}

.font-list-header .title {
    float:left;
    vertical-align: middle;
    font-size:14px;
}

.font-list-header .tools {
    float:right;
    vertical-align: middle;    
}

.font-list-header .tools .pill {
    margin:0px;
}

.font-list-header .tools .pill i {
    pointer-events: none;
}

.font-list-content {
    position: absolute;
    left:0px;
    top:40px;
    right: 0px;
    bottom:0px;
    overflow: auto;
    display: flex; 
    flex-wrap:wrap;
    padding-right:5px;
    border-top:1px solid #ececec;
}


.font-item {
    flex: 1 1 20%;
    box-sizing:border-box;
    border: 1px solid rgba(200, 200, 200, 0.5); 
    margin-left: -1px;
    margin-top:-1px;
    cursor: pointer;
    user-select: none;
    max-height: 120px;
}


.font-item:hover {
    background-color:black !important;
    color:white !important;    
    transform-origin: 50% 50%;
    z-index: 100;       
}

.font-item[data-row-start=true]:hover {
    transform-origin: 0% 50%;
}

.font-item[data-row-last=true]:hover {
    transform-origin: 100% 50%;

}

.font-item.selected {
    background-color:black !important;
    color:white !important;    
}


.font-item .font-info {
    overflow: auto;
    display: flex; 
    padding:10px;
    pointer-events: none;
    text-align: center;
    margin-bottom:10px;
}

.font-info .font-name {
    flex : 10 ; 
    display:none;
    font-weight: bold;
}

.font-info .font-family {
    flex : 10 ; 
    font-weight: bold;
}

.font-info .font-sub-family {
    display: none;
}

.font-item .font-item-preview {
    pointer-events: none;
    word-break: break-all;
    text-align:center;
    margin-bottom:10px;
}

.font-list-content[data-content-style=row] .font-item {
    flex: 1 1 100%;
    text-align: left !important;
    transition: none !important;
}

.font-list-content[data-content-style=row] .font-item:hover {
    transform: none;
}

.font-list-content[data-content-style=row] .font-item .font-info {
    text-align: left !important;
}

.font-list-content[data-content-style=row] .font-item .font-name {
    display: block;
}
.font-list-content[data-content-style=row] .font-item .font-sub-family {
    display: inline-block;
    margin-left:10px;
}


.font-list-content[data-content-style=row] .font-item .font-item-preview {
    text-align: left !important;
    padding:5px 20px;
}

