.font-list-view {
    position: absolute;
    left:0px;
    right:0px;
    
    top:0px;
    bottom: 0px;
}


.font-list-content {
    position: absolute;
    left:0px;
    top:0px;
    right: 0px;
    bottom:0px;
    overflow: auto;
    display: flex; 
    flex-wrap:wrap;
    padding-right:5px;
    border-top:1px solid #ececec;
}


.font-item {
    flex: 1 1 20%;
    flex-grow: 0;    
    box-sizing:border-box;
    border: 1px solid rgba(200, 200, 200, 0.5); 
    margin-left: -1px;
    margin-top:-1px;
    cursor: pointer;
    user-select: none;
    position:relative;
}

.font-item:hover {
    background-color: rgba(116, 12, 210, 0.1);
    transform-origin: 50% 50%;
    z-index: 100;       
}

.font-item.selected {
    background-color:#740CD2;
    color:white !important;    
}


.font-item .font-info {
    overflow: auto;
    display: flex; 
    padding:10px;
    text-align: center;
    margin-bottom:10px;
    font-size: 13px !important;
    pointer-events: none;
}

.font-item .font-info .font-family,
.font-item .font-info .font-sub-family,
.font-item .font-info .font-name,
.font-item .font-info .tools .icon
{
    pointer-events: none;
}

.font-item .tools {
    position: absolute;
    right: 10px;
    top:10px;
    display:inline-block;
    font-size:13px;
    z-index: 100;
    color: #b6b6b6;
}

.font-item .tools .icon {
    pointer-events: none;
}

.font-item .tools .selected {
    color: #740CD2; 
}

.font-item.selected .tools .selected {
    color: #0deca8;
}

.font-info .font-name {
    flex : 10 ; 
    display:none;
    font-weight: bold;
}

.font-info .font-family {
    flex : 10 ; 
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    height:15px;
    text-overflow: ellipsis;
}

.font-info .font-sub-family {
    display: none;
}

.font-item .font-item-preview {
    pointer-events: none;
    word-break: break-all;
    text-align:center;
    margin-bottom:10px;
}

.font-item .activation {
    position: absolute;
    left: 0px;
    top:50%;
    transform: translateY(-10%);
    font-size:24px;
    padding-left:10px;
    box-sizing:border-box;
    color: #BDBDBD;
}

.font-item .activation .selected {
    color: #5cb85c;
}

.font-list-content[data-content-style=row] {
    display: block;
}

.font-list-content[data-content-style=row] .font-item {
    flex: none;
    text-align: left !important;
    transition: none !important;
}

.font-list-content[data-content-style=row] .font-item:hover {
    transform: none;
}

.font-list-content[data-content-style=row] .font-item .font-info {
    text-align: left !important;
    margin-bottom:0px;
}

.font-list-content[data-content-style=row] .font-item .font-name {
    display: block;
}
.font-list-content[data-content-style=row] .font-item .font-sub-family {
    display: inline-block;
    margin-left:10px;
}


.font-list-content[data-content-style=row] .font-item .font-item-preview {
    text-align: left !important;
    padding:0px 30px;
    box-sizing:border-box;
    overflow:hidden;
    display:block;
}

.font-list-content[data-content-style=row] .font-item .font-item-preview div {
    white-space: nowrap;
    overflow: hidden;
    width:100%;
}

