

.app-menu > .search {
  text-align:left;
  position:absolute;
  left: 0px;
  top:0px;
  height:46px;
  right:0px;
  box-sizing: border-box;
  z-index:100;
  background-color: white;
}

.app-menu .search-icon .material-icons {
  font-size: 18px;
}

.app-menu .search-icon.active .material-icons {
  color: rgba(116, 12, 210, 0.7);
  font-weight:bold;
}

.app-menu > .search .logo {
  position: absolute;
  left:0px;
  top:0px;
  bottom:0px;
  width:120px;
  padding:5px 10px;
  text-align: left;
  cursor: pointer;
  font-size:18px;
  vertical-align: middle;
  line-height: 2;
}

.app-menu > .search .logo img {
  vertical-align: middle;
}

.app-menu > .search .badge {
  background-color: #36aeea; 
  color: white; 
  border-radius: 50%;
  padding: 5px 6px;
  font-size: 8px;
  font-weight:bold;
  position: absolute;
  left:90px;
  top:6px;
  display:inline-block;
}

.app-menu .search-input {
  position: absolute;
  left:120px;
  bottom:0px;
  top:0px;
  right:100px;
  box-sizing:border-box;
  overflow:hidden;
  vertical-align: middle;
  background-color:#f4f4f4;
  border-radius:5px;
  margin:12px 10px;
  border:1px solid #C8C8C8;
  flex:3;

}



.app-menu .search-icon {
  position:absolute;
  display: block;
  padding:2px;
  text-align: center;
  box-sizing:border-box;
  height:100%;
  left:2px;
  top:0px;
  z-index: 1;
  cursor: pointer;
  color:rgb(139, 139, 139);
  font-weight: bold;
}

.app-menu .search-input input[type=search] {
  border:0px;
  width:100%;
  height:100%;
  padding-left:30px;
  padding-right:30px; 
  display: block;
  box-sizing:border-box;
  outline: none;
  background-color: transparent;
  user-select: auto;
}

.app-menu .search .tools {
  position: absolute;
  bottom:0px;
  top:0px;
  right:0px;  
  width:100px;
  cursor: pointer;
  box-sizing:border-box;
  text-align: center;
  vertical-align: middle;
  padding:6px;
  display:flex;

}

.app-menu .search .tools span {
  flex:1;
}

.app-menu .search .tools span.active .material-icons {
  color: rgba(116, 12, 210, 0.7);
}

.app-menu .search .tools span .material-icons {
  font-size:18px;
  color:#999;
}

.app-menu .search .tools span:after {
  content:attr(title);
  display:block;
  text-align:center;
  font-size:10px;
}