.font-note {
    position: absolute;
    left:0px;
    bottom: 10px;
    right: 0px;
    top:10px;
    overflow:auto;
}

.font-note-item {
    cursor:pointer;
}

.font-note-item  > *{
    pointer-events: none;
}

.font-note-item .title {
    font-weight:bold;
    background-color: rgba(0, 0, 0, 0.2);
    padding:4px 10px;
}

.font-note-item .content {
    padding: 4px 4px 4px 30px;
    overflow:hidden;
}
