
.app-menu > .tools {
  padding:10px 2px;
  position:absolute;
  display:flex;
  right: 0px;
  top:40px;
  bottom:0px;
  left:0px;
  box-sizing: border-box;
}


.app-menu > .tools > * {
  cursor:pointer;
  flex:1;
  text-align: right;
  padding:0px 10px;
}

.app-menu > .tools > *:first-child {
  text-align:left;
}

.app-menu > .tools > * span {
  padding-left:4px;
  padding-right:4px;
}

.app-menu > .tools > * .icon {
  margin-right:2px;
  margin-left:5px;
  vertical-align: middle;
  font-size:20px;
}

.app-menu > .tools span.active {
  color: rgba(116, 12, 210, 0.7);
}
