.jui .tabs.full {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top: 0px;
}

.jui .tabs.full .tab {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    height: 34px;
    margin-bottom:0px;
    display: flex;
}

.jui .tabs.full .tab li {
    cursor:pointer;
    flex:1;
    text-align: center;
}

.jui .tabs.full .tab-container {
    position:absolute;
    top:44px;
    left:0px;
    right:0px;
    bottom:0px;
}

.jui .tabs.full .tab-content {
    position:absolute;
    display:none;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
}

.jui .tabs.full .tab-content.active {
    display:block;
}