.emoji-glyf-list {
    position: absolute;
    left:0px;
    top:10px;
    right: 0px;
    bottom:0px;
    overflow: auto;
    font-size: 35px;
    line-height:50px;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;    
}

.emoji-glyf-search {
    position: absolute;
    left:10px;
    top:10px;
    right: 10px;
    height:30px;
}

.emoji-glyf-item {
    display: inline-block;
    width: 120px;
    height:120px;
    box-sizing:border-box;
    border: 1px solid rgba(200, 200, 200, 0.5); 
    cursor: pointer;
    user-select: none;
    font-size: 35px;
    line-height:50px;
    text-align:center;
    vertical-align: middle;
    padding:10px;
}

.emoji-glyf-item .desc {
    text-align:center;
    font-size:12px;
    line-height:12px;
    pointer-events: none;
}

.emoji-glyf-item[data-selected=true] {
    background-color: black;
    color:white;
}

.emoji-glyf-item:empty:before {
    content: attr(data-char);
    font-family: sans-serif, serif !important;
    color: #aaa;
}