.emoji-glyf-list {
    position: absolute;
    left:0px;
    top:10px;
    right: 0px;
    bottom:0px;
    overflow: auto;
    font-size: 20px;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;    
}

.app.mini .emoji-glyf-list {
    font-size: 13px;
    line-height:1;
    top:2px;
}

.emoji-glyf-search {
    position: absolute;
    left:10px;
    top:10px;
    right: 10px;
    height:30px;
}

.emoji-glyf-item {
    display: inline-block;
    width: 40px;
    height:40px;
    box-sizing:border-box;
    cursor: pointer;
    user-select: none;
    font-size: 25px;
    line-height:2;
    text-align:center;
    margin-right:2px;
    vertical-align: middle;
    padding:0px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);   
    border-radius:3px;     
}


.emoji-glyf-item:hover {
    background-color: rgba(116, 12, 210, 0.1);
}

.emoji-glyf-item[data-selected=true] {
    background-color: #740CD2;
    color:white;
    border-radius: 5px;    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.emoji-glyf-item:empty:before {
    content: attr(data-char);
    font-family: sans-serif, serif !important;
    color: #aaa;
}

.app.mini .emoji-glyf-item {
    width: auto;
    height:auto;
    font-size: 25px;
    line-height:1.2;
    padding:2px 4px;
    margin-bottom:1px;
    box-sizing:border-box;

}
