.emoji-glyf-list {
    position: absolute;
    left:0px;
    top:10px;
    right: 0px;
    bottom:0px;
    overflow: auto;
    font-size: 35px;
    line-height:50px;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;    
}

.emoji-glyf-search {
    position: absolute;
    left:10px;
    top:10px;
    right: 10px;
    height:30px;
}

.emoji-glyf-item {
    display: inline-block;
    width: 120px;
    height:120px;
    box-sizing:border-box;
    cursor: pointer;
    user-select: none;
    font-size: 35px;
    line-height:50px;
    text-align:center;
    vertical-align: middle;
    padding:10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);        
}


.emoji-glyf-item:hover {
    background-color: rgba(116, 12, 210, 0.1);
}

.emoji-glyf-item .desc {
    text-align:center;
    font-size:12px;
    line-height:12px;
    pointer-events: none;
}

.emoji-glyf-item[data-selected=true] {
    background-color: #740CD2;
    color:white;
    border-radius: 5px;    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.emoji-glyf-item:empty:before {
    content: attr(data-char);
    font-family: sans-serif, serif !important;
    color: #aaa;
}