.google-early-access-font-item .font-info {
    overflow: auto;
    display: flex; 
    padding:5px;
    padding-left:0px;    
    padding-right:60px;
    text-align: center;
    margin-bottom:10px;
    font-size: 13px !important;
    background-color: #f4f4f4;    
}

.google-early-access-font-item .font-info .font-sub-family,
.google-early-access-font-item .font-info .font-name,
.google-early-access-font-item .font-info .tools .icon
{
    pointer-events: none;
}

.google-early-access-font-item .tools {
    position: absolute;
    right: 10px;
    top:10px;
    display:inline-block;
    font-size:13px;
    z-index: 100;
    color: #b6b6b6;
}

.google-early-access-font-item .tools .icon {
    pointer-events: none;
}

.google-early-access-font-item .tools .material-icons {
    font-size:18px;
}

.google-early-access-font-item .font-info .font-name {
    flex : 10 ; 
    display:none;
    font-weight: bold;
}

.google-early-access-font-item .font-info .font-family {
    flex : 10 ; 
    font-weight: bold;
    display: inline-block;
    text-align: left;
    padding-left:10px;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.google-early-access-font-item .font-info .font-family .link {
    margin-right: 5px;
    vertical-align: middle;
    display:inline-block;
}
.google-early-access-font-item .font-info .font-family .material-icons {
    font-size: 18px;
    vertical-align: middle;
}

.google-early-access-font-item .font-info .font-sub-family {
    display: none;
}

.google-early-access-font-item .font-item-preview {
    pointer-events: none;
    user-select: auto;
    text-align:left;
    font-size: 13px;
    margin-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}

