.google-early-access-font-item {
    margin-bottom:20px;
}
.google-early-access-font-item .font-info {
    overflow: auto;
    display: flex; 
    padding:5px;
    padding-left:0px;    
    padding-right:60px;
    text-align: center;
    margin-bottom:10px;
    font-size: 13px !important;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.02) , rgba(0, 0, 0, 0));
}

.google-early-access-font-item .font-info .tools .icon
{
    pointer-events: none;
}

.google-early-access-font-item .tools {
    position: absolute;
    right: 10px;
    top:4px;
    display:inline-block;
    font-size:13px;
    z-index: 100;
    color: #666666;
}


.google-early-access-font-item .tools > span {
    margin-right:10px;
    vertical-align: middle;
}

.google-early-access-font-item .tools > span.divider {
    display: inline-block;
    height:10px;
    border-right:1px solid #999;
    width:2px;
    box-sizing: border-box;
}


.google-early-access-font-item .font-info .font-name {
    flex : 10 ; 
    display:none;
    font-weight: bold;
}

.google-early-access-font-item .font-info .font-family {
    flex : 10 ; 
    font-weight: bold;
    display: inline-block;
    text-align: left;
    padding-left:10px;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.google-early-access-font-item .font-info .font-family .link {
    margin-right: 5px;
    vertical-align: middle;
    display:inline-block;
}
.google-early-access-font-item .font-info .font-family .material-icons {
    font-size: 18px;
    vertical-align: middle;
}

.google-early-access-font-item .font-item-preview {
    pointer-events: none;
    user-select: auto;
    text-align:left;
    font-size: 13px;
    margin-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}


.google-early-access-font-item .font-description {
    font-size: 13px;
    color: #877D7D;
    padding-left:20px;
    padding-right:20px;
    box-sizing:border-box;
}

.google-early-access-font-item .font-description h3 {
    font-size:13px;
}

.google-early-access-font-item .font-description .desc-item {
    margin-bottom:5px;
    padding:5px;    

    border:1px solid #e0e0e0;
    color:black;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.01);
}
