.google-font-list {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px; 
}

.google-font-list .font-list {
    position: absolute;
    left: 10px;
    top: 10px;
    bottom:10px;
    width: 240px;
    overflow:auto;
}

.google-font-list .font-list .main-list {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom:200px;
    right: 0px;
    overflow:auto;
}

.google-font-list .font-list .early-access-list {
    position: absolute;
    left: 0px;
    height:200px;
    bottom:0px;
    right: 0px;
    overflow:auto;
}

.google-font-list .font-view {
    position: absolute;
    left: 260px;
    top: 10px;
    bottom:10px;
    right: 10px;
    overflow:auto;
}

.google-font-list .font-list .font-item {
    padding: 5px 10px;
    border:0px;
}