.navbar .inline input[type=text] {
    width: 300px;
}

.navbar .inline input[type=text].search-field {
    width: 150px;
}

.navbar .inline input[type=text].font-size {
    width: 80px;
}

.navbar .inline {
    z-index: 100;
}

.navbar .inline.right {
    z-index: 10;
}