.category {
    position: absolute;
    top:0px;
    left:0px;
    right: 0px;
    bottom:0px;
}
.category-content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom:0px;
    overflow: auto;
    box-sizing:border-box;
    padding-top:20px;
}

.category-content .folder {

}

.category-content .folder .title {
    padding: 5px; 
    font-weight: bold;
}

.category-content .folder-list {

}

.category-content .folder-list .folder-item {
    padding: 2px 5px;
    cursor: pointer;
    width:100%;
    display:inline-block;
    box-sizing: border-box;
}

.category-content .group-label {
    font-weight: bold;
    padding:2px;
    margin-bottom:10px;
    cursor:pointer;
}

.category-content .group-label .title .label {
    border-radius:30px;
    vertical-align: middle;
    display:inline;
    line-height:1;
    padding:2px 6px;
    font-size:11px;
}


.category-content .splitter {
    margin-bottom:10px;
    border-bottom:1px solid #ececec;
}


.category-content .system-folders .item {
    cursor:pointer;
}

.category-content .library-items {
    padding:5px;
}

.category-content .library-items .item {
    display:block;
    position:relative;
    padding:10px 2px;
    border-radius:3px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:5px;
    cursor:pointer;
    overflow:auto;
    transition: 0.3s all linear;    
}

.category-content .library-items .item:hover {
    background-color: rgba(116, 12, 210, 0.1);
}

.category-content .library-items .item.active {
    background-color: #740CD2;
    color:white;
    font-weight:bold;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
}

.category-content .library-items .item.drop-item {
    background-color: black;
    color:white;
}

.category-content .library-items .item a {
    display: block;
    width:100%;
    padding-right: 50px;
    pointer-events: none;
    box-sizing:border-box;
}


.category-content .library-items .item > a .label {
    border-radius:30px;
    vertical-align: middle;
    display:inline;
    line-height:1;
    padding:2px 6px;
    font-size:11px;
}

.category-content .library-items .item > span {
    position:absolute;
    top:10px;
    right:0px;
    margin-right:2px;
    color: red;
    padding:3px;
    cursor:pointer;
    z-index:10;
    display:none;
}

.category-content .library-items .item:hover > span {
    display:inline-block;
}


.category-content .library-items .item > span i {
    pointer-events: none;
}

.category-content .library-input {
    margin-top:3px;
    margin-bottom:10px;
}
.category-content .library-input input {
    width:100%;
    padding:5px;
    box-sizing:border-box;
    height:30px;
    border:0px;
    box-shadow: none !important;

}

.category-content .library-list .icon {
    color: rgba(255, 0, 0, 0.65);
}

.category-content .library-list.system .icon {
    color: rgba(0, 0, 0, 0.65);
}

.category-content .library-list.system .library-items {
    padding-left: 0px;
}

.category-content .library-list.system .library-items .item {
    padding-left: 2px;
}

.category-content .library-list.user .icon {
    color: rgba(11, 105, 226, 0.84);
}

.category-content .library-list.favorite .icon {
    color: #740CD2;
}