.category {
    position: absolute;
    top:0px;
    left:0px;
    right: 0px;
    bottom:0px;
}
.category-content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom:0px;
    overflow: auto;
    box-sizing:border-box;
    padding-top:10px;
}

.category-content .folder {

}

.category-content .folder .title {
    padding: 5px; 
    font-weight: bold;
}

.category-content .folder-list {

}

.category-content .folder-list .folder-item {
    padding: 2px 5px;
    cursor: pointer;
    width:100%;
    display:inline-block;
    box-sizing: border-box;
}
