.category {
    position: absolute;
    left:0px;
    bottom: 0px;
    right: 0px;
    top:0px;
}

.category-header {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    height:30px;
    font-size: 13px;
    padding:10px;
}

.category-toolbar {
    position: absolute;
    top:30px;
    left: 0px;
    right: 0px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing:border-box;
    padding:10px 10px;
    text-align: right;

}

.category-content {
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    bottom:0px;
    overflow: auto;
    background-color: blue; 
}

.category-content .folder {
    background-color: rgba(255, 0, 0, 0.5);
}

.category-content .folder .title {
    padding: 5px; 
    color: white;
    font-weight: bold;
}

.category-content .folder-list {

}

.category-content .folder-list .folder-item {
    margin: 2px 0px;
    padding: 5px 10px;
    cursor: pointer;
}

.category-content .folder-list .folder-item::before {
    content: attr(data-name);
    color: yellow;
}