.local-font-item .font-info {
    overflow: auto;
    display: flex; 
    padding:6px;
    padding-left:0px;    
    padding-right:60px;
    text-align: center;
    margin-bottom:10px;
    font-size: 13px !important;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.02) , rgba(0, 0, 0, 0));
    line-height:1;
}

.local-font-item .font-info .tools .icon
{
    pointer-events: none;
}

.local-font-item .font-description {
    font-size: 13px;
    color: #877D7D;
    padding-left:10px;
    padding-right:10px;
    height:0px;
    transition:all 0.3s linear; 
    box-sizing:border-box;
    overflow:hidden;
}

.local-font-item .font-description.open {
    padding-left:10px;
    padding-right:10px;    
    height: auto;
}

.local-font-item .license-icon {
    width :20px;
    vertical-align: middle;
    margin-right:5px;
}

.local-font-item .material-icons {
    font-size:13px; 
}

.local-font-item .font-description label {
    font-weight:bold;
    color: black;
}

.local-font-item .font-description a {
    color: black; 
    text-decoration: none;
}

.local-font-item .font-description .desc-item {
    margin-bottom:5px;
    padding:5px;    
    padding-left:20px;
    padding-right:20px;    
    border:1px solid #e0e0e0;
    color:black;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
}

.local-font-item .font-description .desc-item:hover a {
    text-decoration: underline;
}

.local-font-item .tools {
    position: absolute;
    right: 10px;
    top:4px;
    font-size:12px;
    z-index: 100;
    color: #666666;
    user-select: none;
    cursor: pointer;
}

.local-font-item .tools > span {
    margin-right:10px;
    vertical-align: middle;
}

.local-font-item .tools > span.divider {
    display: inline-block;
    height:10px;
    border-right:1px solid #ccc;
    width:2px;
    box-sizing: border-box;
}

.local-font-item .font-info .font-family {
    display: inline-block;
    text-align: left;
    padding-left:10px;
    vertical-align: middle;
    font-weight:bold;
    text-overflow: ellipsis;
}

.local-font-item .directory-name {
    display:none;
    color: rgba(0, 0, 0, 0);
    padding-left:10px;
}

.local-font-item .font-item-preview {
    word-break: break-all;
    text-align:center;
    margin-bottom:10px;
    outline:none;
    padding:2px;
    padding-right:20px;
    padding-left:20px;    
    position:relative;
}

.local-font-item .font-item-preview > .message {
    outline:none;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    width:100%;
    text-align: left;
}

.local-font-item .font-item-preview > .message:focus {
    background-color: rgba(0, 0, 0, 0.05);
}

.local-font-item:hover .tools {
    display:block;
}

.local-font-item:hover .directory-name {
    color: rgba(0, 0, 0, 0.5);
    display:none;
}

.local-font-item  .activation {
    position: absolute;
    left: 4px;
    top:1px;
    font-size:24px;
    box-sizing:border-box;
    color: #BDBDBD;
    display:none;
}

.local-font-item  .activation .selected {
    color: #5cb85c;
}

.local-font-item .add-favorite .material-icons {
    font-size:18px;
}

.local-font-item .add-favorite.selected {
    color: #740CD2; 
}