.local-font-item .font-info {
    overflow: auto;
    display: flex; 
    padding:5px;
    padding-left:0px;    
    padding-right:60px;
    text-align: center;
    margin-bottom:10px;
    font-size: 13px !important;
    background-color: #f4f4f4;    
}

.local-font-item .font-info .font-family,
.local-font-item .font-info .font-sub-family,
.local-font-item .font-info .font-name,
.local-font-item .font-info .tools .icon
{
    pointer-events: none;
}

.local-font-item .font-description {
    font-size: 13px;
    color: #877D7D;
    padding-left:10px;
    padding-right:10px;
    height:0px;
    transition:all 0.3s linear; 
    box-sizing:border-box;
    overflow:hidden;
}

.local-font-item .font-description.open {
    padding-left:10px;
    padding-right:10px;    
    height: auto;
}

.local-font-item .font-description .material-icons {
    font-size:13px; 

}
.local-font-item .font-description label {
    font-weight:bold;
    color: black;
}

.local-font-item .font-description a {
    color: black; 
    text-decoration: none;
}

.local-font-item .font-description .desc-item {
    margin-bottom:5px;
}

.local-font-item .tools {
    position: absolute;
    right: 10px;
    top:2px;
    font-size:13px;
    z-index: 100;
    color: #b6b6b6;
    user-select: none;
    cursor: pointer;
}


.local-font-item .tools .material-icons {
    font-size:18px;
}

.local-font-item .tools .selected {
    color: #740CD2; 
}


.local-font-item .tools .divider {
    padding-left:10px;
    padding-right:10px;
}

.local-font-item .font-info .font-name {
    flex : 10 ; 
    display:none;
    font-weight: bold;
}

.local-font-item .font-info .font-family {
    flex : 10 ; 
    font-weight: bold;
    display: inline-block;
    text-align: left;
    padding-left:10px;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.local-font-item .font-info .font-family .link {
    margin-right: 5px;
    vertical-align: middle;
    display:inline-block;
}
.local-font-item .font-info .font-family .link .material-icons {
    font-size: 18px;
    vertical-align: middle;
}

.local-font-item .font-info .font-sub-family {
    display: none;
}

.local-font-item .directory-name {
    display:none;
    color: rgba(0, 0, 0, 0);
    padding-left:10px;
}

.local-font-item .font-item-preview {
    word-break: break-all;
    text-align:center;
    margin-bottom:10px;
    outline:none;
    padding:2px;
    padding-right:20px;
    padding-left:20px;    
}

.local-font-item .font-item-preview > .message {
    outline:none;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    width:100%;
    text-align: left;
}

.local-font-item .font-item-preview > .message:focus {
    background-color: rgba(0, 0, 0, 0.05);
}


.local-font-item .toolbar {
    display:none;
    position:absolute;
    right:130px;
    top:2px;
    width:80px;
}

.local-font-item .toolbar input[type=range]:before {
    content: attr(value) 'px';
    position:absolute;
    top:-7px;
    left:-40px;
    display:inline-block;
}

.local-font-item:hover .toolbar  {
    display:block;
}

.local-font-item:hover .tools {
    display:block;
}

.local-font-item:hover .directory-name {
    color: rgba(0, 0, 0, 0.5);
    display:none;
}

.local-font-item  .activation {
    position: absolute;
    left: 4px;
    top:1px;
    font-size:24px;
    box-sizing:border-box;
    color: #BDBDBD;
    display:none;
}

.local-font-item  .activation .selected {
    color: #5cb85c;
}

