.font-list-view {
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom: 0px;
}


.font-list-content {
    position: absolute;
    left:0px;
    top:0px;
    right: 0px;
    bottom:0px;
    overflow: auto;
}

.font-list-content .empty-item {
    position: absolute;
    left: 14px;
    right: 14px;
    top: 10px;
    bottom: 10px;
    padding:100px;
    line-height:1.6;
    text-align:center;
}

.font-list-content .font-item {
    box-sizing:border-box;
    cursor: pointer;
    position:relative;
}
