.font-list-view {
    position: absolute;
    left:0px;
    right:0px;
    
    top:0px;
    bottom: 0px;
}

.font-list-header {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    height:30px;
}

.font-list-content {
    position: absolute;
    left:0px;
    top:30px;
    right: 0px;
    bottom:0px;
    overflow: auto;
}

.font-item:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.font-item.selected {
    background-color: rgba(200, 200, 200, 0.6);
}

.font-item .font-info {
    overflow: auto;
    display: flex; 
    padding:10px;
    pointer-events: none;
}

.font-info .font-name {
    flex : 10 ; 

    font-weight: bold;
}

.font-info .font-family {
    flex : 10 ; 

    font-weight: bold;
}

.font-info .font-ext {
    flex : 1 ;  
    text-align: center;
}

.font-item .font-item-preview {
    padding: 10px 20px 30px;
    pointer-events: none;
    word-break: break-all;
}