.google-font-item .font-info {
    overflow: auto;
    display: flex; 
    padding:5px;
    padding-left:0px;    
    padding-right:60px;
    text-align: center;
    margin-bottom:10px;
    font-size: 13px !important;
    background-color: #f4f4f4;
}


.google-font-item .toolbar {
    display:none;
    position:absolute;
    right:150px;
    top:4px;
    width:80px;
}

.google-font-item .toolbar input[type=range]:before {
    content: attr(value) 'px';
    position:absolute;
    top:-7px;
    left:-40px;
    display:inline-block;
}

.google-font-item:hover .toolbar  {
    display:block;
}

.google-font-item .tools {
    position: absolute;
    right: 0px;
    top:4px;
    font-size:13px;
    z-index: 100;
    color: #b6b6b6;
    display:inline-block;
}

.google-font-item .tools > span {
    margin-right:10px;
    vertical-align: middle;
}

.google-font-item .tools > span.divider {
    display: inline-block;
    height:10px;
    border-right:1px solid #999;
    width:2px;
    box-sizing: border-box;
}

.google-font-item .tools .icon {
    pointer-events: none;
}

.google-font-item .tools .material-icons {
    font-size:18px;
}

.google-font-item .font-info .font-name {
    flex : 10 ; 
    display:none;
    font-weight: bold;
}

.google-font-item .font-info .font-family {
    flex : 10 ; 
    display: inline-block;
    text-align: left;
    padding-left:10px;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.google-font-item .font-info .font-family .link {
    margin-right: 5px;
    vertical-align: middle;
    display:inline-block;
}
.google-font-item .font-info .font-family .material-icons {
    font-size: 18px;
    vertical-align: middle;
}

.google-font-item .font-info .font-family .category {
    color: #C4AA00;
}

.google-font-item .font-info .font-sub-family {
    display: none;
}

.google-font-item .font-item-preview {
    user-select: auto;
    text-align:left;
    font-size: 13px;
    margin-bottom:10px;
    padding-left:30px;
    padding-right:30px;
}

.google-font-item .font-item-preview > .message {
    outline:none;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    width:100%;
    text-align: left;
}

.google-font-item .font-item-preview > .message:focus {
    background-color: rgba(0, 0, 0, 0.05);
}
