
.label-list {
    display: block;
    font-size:13px;
    line-height:1;    
    padding: 3px 10px;
    padding-left:20px;
    z-index:0;
}

.label-list .label {
    display:inline-block;
    padding:1px 5px;
    box-sizing:border-box;
    vertical-align: middle;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.01);
    border:1px solid #ececec;
    margin-right:4px;    
    margin-bottom:4px;
}

.label-list .label .material-icons {
    font-size:14px;
}

.label-list .label.input {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    display:inline-block;
    border:0px;
    outline:none;
}

.label-list .label.input:empty:before {
    content: '+ ' attr(data-placeholder);
    display: block;
    color:rgba(0, 0, 0, 0.3);
}