.glyf-list {
    position: absolute;
    left:0px;
    top:0px;
    right: 0px;
    bottom:0px;
    overflow: auto;
    font-size: 25px;
    line-height:50px;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;    
}

.app.mini .glyf-list {
    top:2px;
    border:0px;
    bottom:32px;
    left:2px;
    right:2px;
}

.glyf-item {
    display: inline-block;
    width: 40px;
    height:40px;
    box-sizing:border-box;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    line-height:2;
    text-align:center;
    vertical-align: middle;
    padding:0px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);            
}

.app.mini .glyf-item {
    width:30px;
    height:30px;
    font-size:20px;
    line-height: 1;
    padding:2px;
}

.glyf-item:hover {
    background-color: rgba(116, 12, 210, 0.1);
}

.glyf-item[data-selected=true] {
    background-color: #740CD2;
    color:white;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
}