.glyf-list {
    position: absolute;
    left:0px;
    top:50px;
    right: 0px;
    bottom:0px;
    overflow: auto;
    border:1px solid #ececec;
    font-size: 35px;
    line-height:50px;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;    
}

.glyf-search {
    position: absolute;
    left:10px;
    top:10px;
    right: 10px;
    height:30px;
}

.glyf-item {
    display: inline-block;
    width: 70px;
    height:70px;
    box-sizing:border-box;
    cursor: pointer;
    user-select: none;
    font-size: 35px;
    line-height:50px;
    text-align:center;
    vertical-align: middle;
    padding:10px;
}

.glyf-item:hover {
    background-color: rgba(116, 12, 210, 0.1);
}

.glyf-item[data-selected=true] {
    background-color: #740CD2;
    color:white;
    border-radius: 3px;
}

.glyf-item:empty:before {
    content: attr(data-char);
    font-family: sans-serif, serif !important;
    color: #aaa;
}