
::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.app {
  position:fixed;
  left: 0px;
  top:0px;
  bottom:0px;
  right:0px;

}

.app .logo {
  font-size: 20px;
  padding:16px;
  font-family: "Berlin Sans FB";
}

.container {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:50px;
}

.app-input {
  position:absolute;
  height: 50px;
  bottom:0px;
  left:0px;
  right:0px;
  box-sizing:border-box;
  border-top:1px solid #ececec;
}

.app-input .input-text {
  position:absolute;
  right:60px;
  top:5px;
  bottom:5px;
  left: 100px;
  background-color: rgba(116, 12, 210, 0.1);
  padding:4px;
  font-size: 20px;
  vertical-align: middle;
  line-height:35px;
  border-radius:3px;
}

.app-input .input-text .item {
  cursor: pointer;
  display:inline-block;
  height:100%;
}

.app-input .input-text .item:hover {
  background-color: #740CD2;
  color:white;
  padding-left:5px;
  padding-right:5px;
}

.app-input .input-text:empty:before {
  position:absolute;
  display:block;
  content: "문자나 이모지를 선택해주세요. 한번에 복사할 수 있습니다.";
  width:100%;
  height:100%;
}

.app-input .input-copy {
  position:absolute;
  left:5px;
  top:5px;
  bottom:5px;
  width: 90px;
}

.app-input .input-copy button {
  width:100%;
  text-align: center;
  outline:none;
}

.app-input .input-delete {
  position:absolute;
  right:5px;
  top:5px;
  bottom:5px;
  width: 50px;
}

.app-input .input-delete button {
  width:100%;
  text-align: center;
  outline:none;
}