
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
 
::-webkit-scrollbar-thumb {
  background: rgba(116, 12, 210, 0.7);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.app {
  position:fixed;
  left: 0px;
  top:0px;
  bottom:0px;
  right:0px;

}

.app .logo {
  font-size: 20px;
  padding:16px;
  font-family: "Berlin Sans FB";
}

.container {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:50px;
}

.app-input {
  position:absolute;
  height: 50px;
  bottom:0px;
  left:0px;
  right:0px;
  box-sizing:border-box;
  border-top:1px solid #ececec;
}

.app-input .input-text {
  position:absolute;
  right:60px;
  top:5px;
  bottom:5px;
  left: 100px;
  background-color: rgba(116, 12, 210, 0.1);
  padding:4px;
  font-size: 20px;
  vertical-align: middle;
  line-height:30px;
  border-radius:3px;
}

.app-input .input-text .item {
  cursor: pointer;
  display:inline-block;
  height:100%;
  vertical-align: middle;
}

.app-input .input-text .item:hover {
  background-color: #740CD2;
  color:white;
  padding-left:5px;
  padding-right:5px;
}

.app-input .input-text:empty:before {
  position:absolute;
  display:block;
  content: attr(data-placeholder);
  width:100%;
  height:100%;
  font-size: 15px;
  color:rgba(0, 0, 0, 0.7)
}

.app-input .input-copy {
  position:absolute;
  left:5px;
  top:5px;
  bottom:5px;
  width: 90px;
}

.app-input .input-copy button {
  width:100%;
  text-align: center;
  outline:none;
}

.app-input .input-delete {
  position:absolute;
  right:5px;
  top:5px;
  bottom:5px;
  width: 50px;
}

.app-input .input-delete button {
  width:100%;
  text-align: center;
  outline:none;
}

.jui .btn,
.jui .btn:hover,
.jui .vmenu > *,
.jui .tab li > a,
.jui .navbar,
.jui .vmenu.flat > .submenu
 {
  background-image: none !important;
}

.jui .navbar {
  box-shadow: none !important;
}

.jui .btn:focus {
  outline:none !important; 
}

.jui .tab.top li.active>a {
  border-top: 2px solid #740CD2 !important;
}

.jui .vmenu.flat > .submenu {
  padding: 2px 0px !important;
  background-color: #fff !important;
}

.jui .vmenu.flat>.submenu>li:hover:not(.active) {
    background-color: rgba(116, 12, 210, 0.1);
}