.app {
  position:fixed;
  left: 0px;
  top:0px;
  bottom:0px;
  right:0px;

}

.app-header {
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  height:50px;
  background-color: black;
  color:white;
}

.app-header .logo {
  position:absolute;
  left: 0px;
  top:0px;
  bottom:0px;
  width:250px;
  box-sizing: border-box;
  padding:10px;
  font-size: 20px;
  font-weight: bold;

}

.app-header .toolbar {
  position:absolute;
  left: 250px;
  top:0px;
  bottom:0px;
  right: 0px;
  text-align:left;
  padding:10px;
}

.container {
  position:absolute;
  top:50px;
  left:0px;
  right:0px;
  bottom:0px;
}

.app-menu {
  position:absolute;
  left:0px;
  top:10px;
  right:0px;
  height:50px;
  padding-left:10px;
  padding-right:10px;
}

.app-sidebar {
  position: absolute;
  left:0px;
  top:50px;
  bottom:0px;
  width:240px;
  background-color: white;
}

.app-content {
  position: absolute;
  left:260px;
  top:50px;
  right:10px;
  bottom:10px;
  overflow: auto;
}

/* jui update */ 
.navbar {
    overflow: auto !important;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100px;
  position: relative;
  z-index: 300;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 10%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
}
input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  z-index: 3;
}
input[type=range][readonly]::-webkit-slider-thumb {
  display: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  width: 10%;
}

input[type=range] + .range-progress {
  background: #AB7CFF;
}
input[type=range]::-webkit-slider-runnable-track {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(67, 73, 84, 0.2);
  border: 0px solid rgba(67, 73, 84, 0.2);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  background: #AB7CFF;
}