
.em-font-list {
    position:absolute;
    left:0px;
    top:10px;
    bottom:10px;
    width: 240px;
    overflow: auto;
}

.em-emoji-list {
    position:absolute;
    width:500px;
    top:10px;
    bottom:10px;
    left: 250px;
    overflow: auto;
}

.em-view-setting {
    position:absolute;
    right:10px;
    top:10px;
    height: 40px; 
    left: 310px;
    background-color:rgba(255, 0, 0, 0.05);
}

.em-emoji-info {
    position:absolute;
    left:760px;
    right:10px;
    top:10px;
    bottom:10px;
    overflow: auto;
}

.app.mini .em-emoji-list {
    width:auto;
    left:10px;
    right:10px;
    top:10px;
    bottom:50px;
}

.app.mini .em-emoji-info {
    display:none;
}

.app.mini .em-font-list {
    left:0px;
    right:0px;
    top:auto;
    width:auto;
    bottom:0px;
    height: 50px;
    overflow:hidden;
}